body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    text-align: justify;
}

.container {
    margin: 20px auto 0;
    max-width: 600px; /* Largura reduzida para 600px */
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Adiciona bordas arredondadas ao container */
}

.container h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.container h3 {
    font-size: 1.3em;
    font-weight: bold;
     /* Cor azul para os títulos h3 */
}

.container p {
    font-size: 1em;
    margin-bottom: 10px;
    line-height: 1.5;
    color: #666;
}

.container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Adiciona bordas arredondadas à imagem */
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .container h1 {
        font-size: 1.5em;
    }

    .container h3 {
        font-size: 1.1em;
    }

    .container p {
        font-size: 0.9em;
    }
}