{% extends "base.html" %}

{% block titulo %}
    Previsão de Provas com Teste de 3.000m
{% endblock %}

{% block content %}
<div class="flex items-center justify-center h-auto mt-8 sm:h-screen sm:mt-2 bg-gray-100">
    <div class="flex flex-col justify-center sm:max-w-sm md:max-w-md p-6 sm:p-12 shadow-lg rounded-3xl sm:px-12 dark:bg-white dark:text-gray-100 mb-10">
        <h1 class="text-2xl font-semibold sm:text-3xl mb-6 title-nave">Previsão de Provas com Teste de 3.000m</h1>

        {% if error %}
        <div class="mb-4 bg-red-200 border-red-500 text-red-700 px-4 py-3 rounded">
            <p>{{ error }}</p>
        </div>
        {% endif %}

        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <label class="text-gray-800" for="time">Tempo 3.000m (MM:SS):</label><br>
            <input type="text" id="time" name="time" pattern="[0-9]{1,2}:[0-9]{2}" class="text-gray-800 input-field mb-2 py-2 px-4 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" title="Digite um tempo válido, como 09:51"><br>
            
            <input class="btn-nave font-bold py-2 px-4 rounded cursor-pointer mt-4 w-full" type="submit" value="Calcular">
        </form>

        {% if predictions %}
        <div class="mt-8 p-4 bg-gray-200 rounded">
            <h2 class="text-xl font-semibold mt-4">Previsões de provas</h2>
            <table class="min-w-full bg-white dark:bg-gray-800">
                <thead>
                    <tr>
                        <th class="py-2 px-4 border-b border-gray-200 dark:border-gray-700">Prova</th>
                        <th class="py-2 px-4 border-b border-gray-200 dark:border-gray-700">Tempo</th>
                        <th class="py-2 px-4 border-b border-gray-200 dark:border-gray-700">Pace</th>
                    </tr>
                </thead>
                <tbody>
                    {% for race, details in predictions.items() %}
                    <tr>
                        <td class="py-2 px-4 border-b border-gray-200 dark:border-gray-700 text-center">{{ race }}</td>
                        <td class="py-2 px-4 border-b border-gray-200 dark:border-gray-700 text-center">{{ details.Tempo }}</td>
                        <td class="py-2 px-4 border-b border-gray-200 dark:border-gray-700 text-center">{{ details.Pace }}</td>
                    </tr>
                 
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
