<nav class="navbar-personalizada w-full flex justify-between items-center px-4 fixed z-50 container-fluid">
    <div class="item-navbar mr-2">
        <button class="btn-railway py-1 px-3 rounded-md">
            <a href="{{url_for('home')}}">Inicio</a>
        </button>
    </div>
    <div class="item-navbar mr-2">
        <a href="#">
            <button class="btn-railway py-1 px-3 rounded-md">
                <a href="{{url_for('moeda')}}">Moeda</a>
            </button>
        </a>
    </div>
    <div class="item-navbar mr-2">
        <a href="#">
            <button class="btn-railway py-1 px-3 rounded-md button">
                <a href="{{url_for('contato')}}">Contato</a>
            </button>
        </a>
    </div>
</nav>
