{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Contato</h1>

    <div class="mb-6">
        <h4 class="mb-2">Informações de Contato:</h4>
        <p><strong>Nome:</strong> Thiarly Cavalcante</p>
        <p><strong>Email:</strong> thiarly.cavalcante@live.com</p>
    </div>

    <div class="mb-6">
        <h4 class="mb-2">Redes Sociais:</h4>
        <a href="https://www.linkedin.com/in/thiarly-cavalcante-b0aa6056/" target="_blank" class="mr-4">
            <i class="fab fa-linkedin"></i> LinkedIn
        </a>
        <a href="https://github.com/thiarly" target="_blank" class="mr-4">
            <i class="fab fa-github"></i> GitHub
        </a>
        <a href="https://www.instagram.com/thiarly_tri/" target="_blank" class="mr-4">
            <i class="fab fa-instagram"></i> Instagram
        </a>
        <a href="https://www.facebook.com/thiarly.cavalcante/" target="_blank">
            <i class="fab fa-facebook"></i> Facebook
        </a>
    </div>

   
    <div class="flex items-center justify-center bg-gray-200 p-8">
        <div class="flex flex-col justify-center max-w-xs p-6 shadow-md rounded-xl sm:px-12 dark:bg-white dark:text-gray-100">
            <div class="rounded-full overflow-hidden w-32 h-32 mx-auto">
                <img src="https://avatars.githubusercontent.com/u/13594903?v=4" alt="" class="w-full h-full object-cover">
            </div>
            <div class="space-y-4 text-center divide-y divide-gray-700">
                <div class="my-2 space-y-1">
                    <h2 class="text-xl font-semibold sm:text-2xl dark:text-black">Thiarly Cavalcante</h2>
                    <p class="px-5 text-xs sm:text-base dark:text-gray-400">Python Developer</p>
                </div>
                <div class="flex justify-center pt-2 space-x-4 align-center">
                    <a rel="noopener noreferrer" href="https://github.com/thiarly" aria-label="GitHub" class="p-2 rounded-md dark:text-black hover:dark:text-violet-400">
                        <svg viewBox="0 0 496 512" xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 fill-current">
                            <!-- Ícone do GitHub -->
                        </svg>
                    </a>
                    <!-- Outros ícones de redes sociais -->
                </div>
            </div>
        </div>
    </div>
    
    <h4 class="mt-5">Alguma dúvida?</h4>
    <p>Se tiver alguma dúvida, sinta-se à vontade para me mandar um email.</p>
</div>
{% endblock %}
