{% extends "base.html" %}

{% block titulo %}
    Conversor de Milhas para Quilômetros
{% endblock %}

{% block content %}
<div class="flex items-center justify-center h-auto mt-8 sm:h-screen sm:mt-2 bg-gray-100">
    <div class="flex flex-col justify-center sm:max-w-sm md:max-w-md p-6 sm:p-12 shadow-lg rounded-3xl sm:px-12 dark:bg-white dark:text-gray-100 mb-10">
        <h1 class="text-2xl font-semibold sm:text-3xl dark:text-black mb-6">Conversor de Milhas para Quilômetros</h1>

        {% if error %}
        <div class="mb-4 bg-red-200 border-red-500 text-red-700 px-4 py-3 rounded">
            <p>{{ error }}</p>
        </div>
        {% endif %}

        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <label class="text-gray-800" for="miles">Distância (milhas):</label><br>
            <input type="text" id="miles" name="miles" pattern="[0-9]+(\.[0-9]+)?" class="text-gray-800 input-field mb-2 py-2 px-4 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" title="Digite uma distância válida, como 6.2"><br>
            
            <input class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer mt-4 w-full" type="submit" value="Converter">
        </form>

        {% if km %}
        <div class="mt-8 p-4 bg-gray-200 rounded">
            <p><span>Distância em quilômetros: <strong>{{ km }} km</strong></span></p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}