{% extends 'base.html'%}

{% block content %}
<div class="container">
    <h1 class="text-2xl font-bold text-blue-600">Conversor de Moeda (Em Desenvolvimento)</h1>
    <p>Esta página está atualmente em desenvolvimento e será um conversor de moeda online. Nosso objetivo é fornecer uma ferramenta simples e conveniente para converter valores entre diferentes moedas.</p>
    <p>Estamos trabalhando para criar uma interface intuitiva e fácil de usar, que permitirá que você insira um valor em uma moeda de origem e selecione a moeda de destino para obter o valor convertido.</p>
    <p>A conversão de moeda é útil em várias situações, como ao planejar viagens internacionais, acompanhar as flutuações das taxas de câmbio ou realizar transações comerciais em diferentes moedas.</p>
    <p>Embora a página ainda esteja em desenvolvimento, esperamos disponibilizá-la em breve com recursos adicionais, como a possibilidade de salvar conversões recentes, seleção de moedas favoritas e atualização automática das taxas de câmbio.</p>
    <p>Agradecemos sua paciência enquanto trabalhamos para finalizar o conversor de moeda. Continue verificando esta página para atualizações e lançamento oficial.</p>
</div>
{% endblock %}