{% extends "base.html" %}
{% block titulo %}
    Sobre a TC Sports
{% endblock %}
{% block content %}
<div class="container mx-auto px-8 py-10 text-justify">

    <!-- Logo no Topo com Largura Total -->
    <div class="w-full mb-5">
        <img src="{{ url_for('static', filename='image/LogoTC.png') }}" alt="Logo TC Sports" class="w-full h-auto max-w-xl rounded-lg">
    </div>
    <div class="grid md:grid-cols-1 gap-5">
        <!-- Descrição da Assessoria -->
        <div class="description">
            <h2 class="text-2xl mb-3 font-bold text-blue-600">Nossa Missão</h2>
            <p>A TC Sports é dedicada a ajudar atletas a alcançarem seus melhores resultados, com ênfase especial em corrida, além de oferecer treinamento personalizado em triatlo e duatlo. Nosso objetivo é proporcionar apoio contínuo e adaptado às necessidades de cada atleta para que atinjam suas metas em competições e melhorem seu desempenho e saúde.</p>
            <h3 class="text-lg font-bold mt-6">Experiência e Competência</h3>
            <p>Com uma vasta experiência em competições de triatlo, duatlo e corridas, nosso treinador Thiarly Cavalcante traz conhecimento técnico e prático para preparar os atletas para todo tipo de desafio.</p>
            <h3 class="text-lg font-bold mt-6">Serviços Oferecidos</h3>
            <p>Nós oferecemos programas de treinamento personalizados para corrida, triatlo, duatlo, e ciclismo, adaptados para atender às necessidades e objetivos de cada atleta.</p>
            <h3 class="text-lg font-bold mt-6">Metodologia de Treinamento</h3>
            <p>Receba seus treinos semanais individualizados e venha conhecer um pouco mais sobre nossa metodologia. Diferentemente de outras assessorias, não somos favoráveis a grandes volumes de treinamento. Acreditamos que o treinamento, quando feito de forma correta a partir do cruzamento dos dados obtidos em seu teste fisiológico, permite gerar as adaptações necessárias para correr desde uma prova de 10 km até uma ultramaratona, com risco mínimo de lesões e conseguindo alcançar a meta estabelecida.</p>
        </div>
    </div>
</div>
{% endblock %}
