{% extends "base.html" %}
{% block titulo %}
    Sobre a TC Sports
{% endblock %}
{% block content %}
<div class="container mx-auto px-8 py-10 text-justify">


    <div class="max-w-2xl mx-auto px-6 py-12 text-center">
        <h2 class="text-3xl font-bold text-blue-600 mb-6">Sobre o Projeto</h2>
        <p class="text-lg leading-relaxed text-gray-800 mb-4">
          Este site foi desenvolvido por <strong>Thiarly Cavalcante</strong>, atleta amador, empresário e programador, com o objetivo de contribuir com a comunidade esportiva.
        </p>
        <p class="text-lg leading-relaxed text-gray-800 mb-4">
          Todas as funcionalidades surgiram de necessidades reais durante sua jornada como atleta — da <strong>conversão de pace</strong> à <strong>calculadora de zonas</strong> e o <strong>planejamento de suplementação</strong>.
        </p>
        <p class="text-lg leading-relaxed text-gray-800 mb-6">
          Aqui, tudo está em um só lugar. Um projeto feito com dedicação para apoiar atletas que, como ele, buscam performance com clareza e praticidade.
        </p>
        <a href="https://tccavalcante.com" target="_blank" class="text-blue-500 hover:underline font-semibold">
          Visite também: tccavalcante.com
        </a>
      </div>
</div>
{% endblock %}