{% extends "base.html" %}

{% block titulo %}
    Tabela de Velocidade / Pace / Milha
{% endblock %}

{% block content %}
<div class="flex items-center justify-center min-h-screen mt-8 bg-gray-100 mb-8">
    <div class="w-full max-w-7xl p-6 sm:p-12 shadow-lg rounded-3xl bg-white dark:bg-gray-800 dark:text-gray-100">
        <h1 class="text-2xl font-semibold sm:text-3xl dark:text-black mb-6">Tabela de Velocidade / Pace / Milha</h1>
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white dark:bg-gray-800">
                <thead>
                    <tr>
                        <th class="py-2 px-4 border-b border-gray-200 dark:border-gray-700">Velocidade (km/h)</th>
                        <th class="py-2 px-4 border-b border-gray-200 dark:border-gray-700">Pace (min/km)</th>
                        <th class="py-2 px-4 border-b border-gray-200 dark:border-gray-700">Pace (min/milha)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in pace_table %}
                    <tr>
                        <td class="py-2 px-4 border-b border-gray-200 dark:border-gray-700 text-center">{{ row.speed_kmh }}</td>
                        <td class="py-2 px-4 border-b border-gray-200 dark:border-gray-700 text-center">{{ row.pace_km }}</td>
                        <td class="py-2 px-4 border-b border-gray-200 dark:border-gray-700 text-center">{{ row.pace_mile }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}